:root {
  --color-accent: #4d92ce;
  --color-offblack: #333;
  --color-offwhite: #f9f9f9;
}

body {
  background-color: var(--color-offwhite);
}

a {
  color: var(--color-accent);
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-offblack);
}

#banner {
  background-size: cover;
}

#about-content {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 40em;
}

.accent {
  font-weight: bold;
  color: var(--color-accent);
}

.company-logo {
  width: 12em;
  height: auto;
}

<<<<<<< HEAD
.esp32{
  width: 30em;
  height: auto;
}

.sensors{
  width: 35em;
  height: auto;
}

||||||| 4a45e8c
=======
.span_equation {
    position: relative;
    font-size: 2.5em;
    display: inline-block;
    line-height: .7em;
    vertical-align: middle;
}

.span_equation:before {
    font-size: 12px;
    display: block;
    position absolute;
    left: 0;
    top: 0;
    content: "m";
    width: 22px;
    text-align: center;
}

.span_equation:after {
    font-size: 12px;
    display: block;
    position absolute;
    left: 0;
    bottom: 0;
    content: "l = 1";
    width: 27px;
    text-align: center;
}


>>>>>>> jp
